<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        function showConfirmation() {
            if (confirm('Вы действительно хотите начать инвентаризацию?')) {
                // Выполнить AJAX-запрос к методу invent
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "{% url 'create_invent' %}", true);
                xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}"); // Добавьте CSRF-токен для безопасности
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        // Перенаправить на locations после успешного вызова invent
                        window.location.href = "{% url 'locations' %}";
                    }
                };
                xhr.send();
            }
        }
    </script>
</head>
<body>
    <button onclick="showConfirmation()">НАЧАТЬ ИНВЕНТАРИЗАЦИЮ</button>
</body>
</html>
