{% extends 'inventory/base.html' %} {% load static %}

{% block continue %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Интерактивный дашборд</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
<section class="u-align-center u-clearfixu-section-1" id="sec-c79d">
    <h1>Интерактивный дашборд</h1>
    <div id="plotly-graph"></div>

    <script>
        // Получаем данные графика из контекста Django
        const graphData = JSON.parse('{{ graph_json|safe }}');

        // Рендеринг графика Plotly
        Plotly.react('plotly-graph', graphData.data, graphData.layout);
    </script>
    </section>
</body>
</html>
{% endblock %}